<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Login.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
</head>

<body>
    <div class="wrap login">
        <div class="main">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="footerMain">
            <span class="fl">© 2013 易订货 - <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" target="_blank">粤ICP备13071670-2</a></span>
            <span class="fr clearfix footmenu">
		    <a href="http://www.dinghuo123.com/">首页</a>
		    <a href="http://www.dinghuo123.com/productOverView.shtml">产品</a>
		    <a href="http://www.dinghuo123.com/mobile.shtml">移动</a>
		    <a href="http://www.dinghuo123.com/price.shtml">价格</a>
		    <a href="http://www.dinghuo123.com/blog.shtml" class="last">博客</a>
	        </span>
        </div>
    </div>

    <script type="text/javascript">
    </script>
</body>
</html>
